<div class="my-4 p-3 alert-danger">
  <ng-container *ngIf="errors.message; else StringErrorTpl">
    <h5>Debes corregir los siguientes errores:</h5>
    
    <ul class="">
      <li *ngFor="let error of errors.message">
        {{ error.constraints.message }}
      </li>
    </ul>
  </ng-container>

  <ng-template #StringErrorTpl>
    <p class="m-0">{{ errors }}</p>
  </ng-template>
</div>