<mat-toolbar color="primary" class="position-fixed justify-content-between">
  <span>Prestamos</span>
  <button mat-raised-button (click)="logOut()">Cerrar sesión</button>
</mat-toolbar>

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6">

      <error-list *ngIf="errors" [errors]="errors"></error-list>

      <div class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de ingreso</mat-label>
          <input matInput (dateChange)="onDateChange($event)" (focus)="picker.open()" [max]="maxDate"
            [matDatepicker]="picker" placeholder="Fecha de ingreso a la empresa">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Empresa</mat-label>
          <input [(ngModel)]="credit.company" matInput type="text" placeholder="Empresa en la que labora">
          <mat-error>El nombre es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>NIT</mat-label>
          <input [(ngModel)]="credit.nit" matInput type="text" placeholder="Nit de la empresa">
          <mat-error>El nombre es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Salario</mat-label>
          <input [(ngModel)]="credit.salary" matInput type="text" placeholder="Salario actual">
          <mat-error>El nombre es requerido</mat-error>
        </mat-form-field>

        <div class="text-center">
          <button (click)="submit()" mat-raised-button color="primary">Calcular</button>
        </div>

        <div *ngIf="result" class="text-center mt-5">
          <p class="credit-approved-label">Tienes un crédito aprobado de</p>
          <span class="font-weight-bold credit-approved-amount">
            {{result.approved_credit | currency}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>