<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="center">
        <h3>{{ operation == 'login' ? 'Iniciar Sesión' : 'Registro' }}</h3>
      </div>

      <p *ngIf="operation == 'register'">
        Ya tienes cuenta? <a href="#" (click)="toggleForm('login')">Inicia sesión</a>
      </p>
      <p *ngIf="operation == 'login'">
        No tienes cuenta? <a href="#" (click)="toggleForm('register')">Registrate</a>
      </p>

      <error-list *ngIf="errors" [errors]="errors"></error-list>

      <div class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Documento</mat-label>
          <input [(ngModel)]="user.document" matInput type="number" (blur)="onBlurDocument($event)"
            placeholder="Ingrese su documento de identidad">
          <mat-error>El documento es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="operation == 'register'">
          <mat-label>Nombre</mat-label>
          <input [(ngModel)]="user.first_name" matInput type="text"
            placeholder="Ingrese su nombre" [disabled]="documentExists$ | async">
          <mat-error>El nombre es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="operation == 'register'">
          <mat-label>Apellidos</mat-label>
          <input [(ngModel)]="user.last_name" matInput type="text"
            placeholder="Ingrese sus apellidos" [disabled]="documentExists$ | async">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input [(ngModel)]="user.password" matInput type="password"
            placeholder="Ingrese su contraseña" [disabled]="documentExists$ | async">
          <mat-error>El documento es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="operation == 'register'">
          <input matInput (dateChange)="onDateChange($event)"
            (focus)="picker.open()" [max]="maxDate" [matDatepicker]="picker"
            placeholder="Fecha de nacimiento" [disabled]="documentExists$ | async">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="text-center">
        <button (click)="login()" *ngIf="operation == 'login'" mat-raised-button color="primary">
          Iniciar Sesión
        </button>
        <button (click)="register()" *ngIf="operation == 'register'" mat-raised-button color="primary">
          Registrarme
        </button>
      </div>
    </div>
  </div>
</div>