/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.margin10{
    margin-right: 10px;
}
.marbo15{
    margin-bottom: 15px;
}